# build output folder
dist/

# dependency folder
node_modules/

# default location for levelDB data storage in a non-browser env
BLOCKSTORE

# default location for index specific levelDB data storage in a non-browser env
INDEX
